body {
  background-color: #ededed;
  background-image: url("/images/grid-bg.png");
  color: #303030;
  font-family: 'Ruda', sans-serif;
  font-weight: 300;
}

div {
  /*border: 1px dotted grey;*/
}

h1 {
  font-weight: 600;
}

input {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

label {
  font-size: 17px;
  font-weight: 400;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.activity-title {
  text-align: center;
}

.add-suggestion-card {
  text-align: center;
  height: 100px;
}

.blurb {
  padding-left: 20px;
}

.btn {
  border-radius: 0;
}

.btn-danger {
  background-color: #e63f37;
}

.btn-danger:hover  {
  background-color: #b8322c;
}

.btn-margin {
  margin-left: 5px;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #4b668a;
  border-color: #4b668a;
  margin-top: 24px;
}

.btn-primary:hover  {
  background-color: #37557D;
}

.btn-success {
  background-color: #3c3c3b;
  border-color: #2d2d28;
}

.btn-success:hover {
  background-color: #2d2d28;
  border-color: #2d2d28;
}

.btn-success:active {
  background-color: #000;
  border-color: #2d2d28;
}

.form-block {
  padding-top: 25px;
  padding-right: 90px;
}

.intro-card {
  background-color: #b0dec8;
  opacity: 0.9;
  box-shadow: 3px 3px 3px #e0e0e0;
  padding-bottom: 40px;
}

.modal-title{
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.spacer {
  height: 15px;
}

.suggestion-card {
  background-color: #b0dec8;
  opacity: 0.9;
  box-shadow: 3px 3px 3px #e0e0e0;
}

.vote-btn {
  margin-top: 42px;
}

.vote-count{
  text-align: center;
}

.votes  {
  text-align: center;
}

#event-title {
  background-color: #696966;
  color: #ffffff;
  opacity: 0.5;
  text-align: center;
}

#intro-title {
  text-align: center;
  margin-top: 15px;
}

#suggest-modal div.modal-body{
  padding-bottom: 5px;
}

#suggest-submit-btn {
  margin-top: 18px;
  margin-bottom: 0px;
}

form #event-title {
  text-align: left;
}
